<!-- LOGIN BOX -->
<div class="modal hide fade" id="login-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Login to spotify</h3>
  </div>
  <div class="modal-body">
  	<div class="">
   	<input id="username" class="" type="text" value="{{username}}">
   	</div>
   	<div class="">
   	<input id="password" class="" type="password">
   </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary" id="login-button">Login</a>
  </div>
</div>
<!-- END LOGIN BOX -->