	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#"><span class="chrome">Shair</span><span class="tunes">Spot</span> <span class="version">v0.1.0</span></a>
			<div class='screen bg'>
				<div id="current_duration">
					0:00 / 0:00
				</div>
				<div id="currently_playing">
					Click a song to start playing
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-inner bottom">
		<div class="container-fluid">
			<div id="top_player">
				<div id="controls">
					<a href="#" class='prev'><img src="/img/prev.png" /></a>
					<a href="#" class='play'><img src="/img/play.png" /></a>
					<a href="#" class='pause'><img src="/img/pause.png" /></a>
					<a href="#" class='next'><img src="/img/next.png" /></a>
				</div>
				<div id="volume">
					<i class="icon-volume"></i>
					<div class="progress_container">
						<div class="progress_wrapper">
							<div class="progress_background">
							</div>
							<div class="progress_bar">
							</div>
						</div>
					</div>
				</div>
				<div id="extras">
					<a href="#" class='shuffle_off'><img src="/img/shuffle_off.png" /></a>
					<a href="#" class='shuffle_on'><img src="/img/shuffle_on.png" /></a>
					<a href="#" class='repeat_off'><img src="/img/repeat_off.png" /></a>
					<a href="#" class='repeat_on'><img src="/img/repeat_on.png" /></a>
				</div>
				<div class="progress_container" id="play-progress">
					<div class="progress_wrapper">
						<div class="progress_background">
						</div>
						<div class="progress_bar">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-edge">
	</div>