
<div class="container-fluid">
	<div class="row-fluid">
		<table>
			<thead>
				<tr>
					<th class="">Artist</th>
					<th class="">Song</th>
					<th class="">Duration</th>
					<th class="">Album</th>
					<th class="">Added by</th>
				</tr>
			</thead>
			<tbody id="queue-song-list">
			</tbody>
		</table>
	</div>

	<div class='row-fluid'>
		<div id="drop_area">
			Spotify drag 'n droperino area
		</div>
	</div>
</div>